.Style1{font-family: 'Helvetica',sans-serif;
font-size: 12px; 
margin:0;
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style5{font-family: 'ArialMT','Arial',sans-serif;
font-size: 24px; 
margin:0;
word-wrap: break-word;}
.Style6{font-family: 'Arial-ItalicMT','Arial',sans-serif;
font-size: 20px; 
font-style: italic;
margin:0;
word-wrap: break-word;}
.Style7{font-family: 'ArialMT','Arial',sans-serif;
font-size: 20px; 
margin:0;
word-wrap: break-word;}
.Style8{font-family: 'Helvetica',sans-serif;
font-size: 20px; 
margin:0;
color: #7F1101;
word-wrap: break-word;}
.Style9{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.Style10{font-family: 'Helvetica',sans-serif;
font-size: 20px; 
margin:0;
color: #931000;
word-wrap: break-word;}
a.Style7:visited{color:#0432FE; text-decoration:underline;}
a.Style7:hover{color:#0432FE; text-decoration:underline;}
.linkStyle_13{font-family: 'ArialMT','Arial',sans-serif;
font-size: 20px; 
font-style: normal;
color: #0432FF;
text-decoration: underline; 
/*000#00F900#0432FE#0432FE*/
word-wrap: break-word;}
a.linkStyle_13:visited{color:#0432FE; text-decoration:underline;}
a.linkStyle_13:hover{color:#0432FE; text-decoration:underline;}
.Style16{font-family: 'ArialMT','Arial',sans-serif;
font-size: 20px; 
word-wrap: break-word;}
.linkStyle_17{font-family: 'ArialMT','Arial',sans-serif;
font-size: 20px; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#FEFB00#FF2600*/
word-wrap: break-word;}
a.linkStyle_17:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_17:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_20{font-family: 'ArialMT','Arial',sans-serif;
font-size: 20px; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#0432FE#0432FE*/
word-wrap: break-word;}
a.linkStyle_20:visited{color:#0432FE; text-decoration:underline;}
a.linkStyle_20:hover{color:#0432FE; text-decoration:underline;}
.Style23{font-family: 'TimesNewRomanPS-BoldMT','Times New Roman',serif;
font-size: 20px; 
font-weight:700; 
margin:0;
color: #7F1101;
word-wrap: break-word;}
.Style24{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.Style25{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
font-weight:700; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style26{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style27{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
font-weight:700; 
color: #FE2600;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style28{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
background-color: #FEFEFF; 
word-wrap: break-word;}
.linkStyle_29{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
color: #0432FF;
text-decoration: underline; 
/*000#CBCBCB#942092#FF2600*/
background-color: #FEFEFF; 
word-wrap: break-word;}
a.linkStyle_29:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_29:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_32{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
margin:0;
text-decoration: underline;
color: #0432FD;
background-color: #FEFEFF; 
word-wrap: break-word;}
a.linkStyle_32:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_32:hover{color:#FF2600; text-decoration:underline;}
.Style35{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 24px; 
margin:0;
word-wrap: break-word;}
a.Style24:visited{color:#0432FE; text-decoration:underline;}
a.Style24:hover{color:#0432FE; text-decoration:underline;}
.linkStyle_38{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#0432FE#0432FE*/
word-wrap: break-word;}
a.linkStyle_38:visited{color:#0432FE; text-decoration:underline;}
a.linkStyle_38:hover{color:#0432FE; text-decoration:underline;}
.Style41{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
word-wrap: break-word;}
.Style42{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 20px; 
margin:0;
word-wrap: break-word;}
.Style43{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
font-weight:700; 
color: #FD2500;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style44{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
font-weight:700; 
margin:0;
color: #FD2500;
background-color: #FEFEFF; 
word-wrap: break-word;}
.linkStyle_45{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
font-weight: 400;
color: #0432FF;
text-decoration: underline; 
/*000#CBCBCB#942092#FF2600*/
background-color: #FEFEFF; 
word-wrap: break-word;}
a.linkStyle_45:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_45:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_48{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#FEFB00#FF2600*/
background-color: #FEFEFF; 
word-wrap: break-word;}
a.linkStyle_48:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_48:hover{color:#FF2600; text-decoration:underline;}
.Style51{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
text-decoration: underline;
color: #0432FD;
background-color: #FEFEFF; 
word-wrap: break-word;}
.linkStyle_52{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#0432FE#0432FE*/
background-color: #FEFEFF; 
word-wrap: break-word;}
a.linkStyle_52:visited{color:#0432FE; text-decoration:underline;}
a.linkStyle_52:hover{color:#0432FE; text-decoration:underline;}
.Style55{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
color: #FD2500;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style56{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 18px; 
margin:0;
color: #FD2500;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style57{font-family: 'TimesNewRomanPSMT','Times New Roman',serif;
font-size: 14px; 
margin:0;
word-wrap: break-word;}
.animhidden{opacity: 0}
.animvisible{opacity: 1}